<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yueh.EatOut">
<!-- <android.support.v4.view.ViewPager
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/pager"
    android:layout_width="match_parent"
    android:layout_height="match_parent" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_eatout"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_eatout"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.yueh.EatOut.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activisty
            android:name=".activity.AddItem"
            android:label="@string/title_activity_add_expense"
            android:parentActivityName=".activity.MainActivity" >
        </activisty>
        <!--<activity-->
        <!--android:name=".activity.SomeActivity"-->
        <!--android:label="@string/app_name" >-->
        <!--android:parentActivityName=".activity.MainActivity" >-->
        <!--</activity>-->
    </application>
    <uses-sdk android:minSdkVersion="9"/>
        <!--android:targetSdkVersion="integer"-->
        <!--android:maxSdkVersion="integer" />-->
</manifest>